h1{
    font-family:"cursive";
    text-align: center;
}

p{
    font-family: monospace;
}

body{
    font-size:100px;
}

#two{
    font-size:1.0em;
}

p{
    font-style: italic;
    font-weight: bolder;
}

h1{
    text-align: center;
}